body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
    color: black;
    padding: 20px;
    margin: 0;
}

h1{
    text-align: center;
    color: #ff0000;
}

form{
    max-width: 600px;
    margin: 0 auto;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ff0000;
}

form fieldset{
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

form label{
    display: block;
    margin-bottom: 5px;
    color: #000;
}

form legend{
    padding: 0 10px;
    font-weight: bold;
    color: #fff;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form input[type="date"],
form input[type="url"],
form select
form textarea{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button{
    cursor: pointer;
    background-color: #5cb855;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}

form button:hover{
    background-color: #5cb855;
}

